In [2]:
import tensorflow.compat.v1 as tf
from tensorflow import feature_column
from tensorflow.keras import layers
tf.disable_v2_behavior()
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

import statsmodels.api as sm

%matplotlib inline

WARNING:tensorflow:From C:\Users\yunji\anaconda3\envs\dbswls\lib\site-packages\tensorflow_core\python\compat\v2_compat.py:88: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [3]:
#doginfo.csv파일 데이터를 pandas를 이용해 읽어옵니다.
df=pd.read_csv("doginfo.csv")
print(df.head())
df = df.dropna(axis=0)    #nan가진 행 지우기

   kindNum neuterYn sexCd  weight  noticeDays  age2  processState
0    128.0        N     F    7.46          10    12             0
1    114.0        N     M    7.00          14     1             1
2    114.0        U     M    4.50          11     2             0
3     67.0        N     M   10.00           8     1             0
4    114.0        N     M    6.00           8     4             0

In [4]:
def dummy_data(data, columns):
    for column in columns:
        data = pd.concat([data, pd.get_dummies(data[column], prefix = column)], axis = 1)
        data = data.drop(column, axis = 1)
    return data

In [5]:
dummy_columns = ["kindNum", "neuterYn", "sexCd"]
train_dummy = dummy_data(df, dummy_columns)
train_dummy.head()

,weight,noticeDays,age2,processState,kindNum_1.0,kindNum_3.0,kindNum_4.0,kindNum_6.0,kindNum_7.0,kindNum_9.0,...,kindNum_165.0,kindNum_203.0,kindNum_205.0,kindNum_207.0,neuterYn_N,neuterYn_U,neuterYn_Y,sexCd_F,sexCd_M,sexCd_Q
0,7.46,10,12,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,7.00,14,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,4.50,11,2,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,10.00,8,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,6.00,8,4,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0